<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/dailyshop/admin/common/head :: adminHead">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Daily Shop | Admin Page</title>
</head>
<body>
<script type="text/javascript">
    $(document).ready(function(){
    });

</script>
<div th:replace="/dailyshop/admin/common/top::header"></div>
<div id="maininner"><!-- maininner (s)-->
    <div class="cc-tab-con">
        <a href="javascript:tabChange('1');" class="cc-tab-item">사용자 관리</a>		<!--// on : 현재 위치 //-->
        <a href="javascript:tabChange('2');" class="cc-tab-item">상품 추가</a>
        <a href="javascript:tabChange('3');" class="cc-tab-item">상품 목록</a>
        <a href="javascript:void(0);" class="cc-tab-item on">충전 요청 리스트</a>
    </div>
</div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="cart-view-area">
                    <div class="cart-view-table aa-wishlist-table">
                            <div class="table-responsive">
                                <div>
                                    <form th:object="${chargeListSearch}" class="form-inline">
                                        <div class="form-group mb-2">
                                            <input type="text" th:field="*{searchKeyword}" class="form-control" placeholder="회원아이디 또는 회원이름"/>
                                        </div>
                                        <div class="form-group mx-sm-1 mb-2">
                                            <select th:field="*{chargeStatus}" class="form-control custom-select-sm">
                                                <option value="">=====승인 상태=====</option>
                                                <option value="READY">승인 대기중</option>
                                                <option value="COMPLETE">승인 완료</option>
                                            </select>
                                        </div>
                                        <button type="submit" class="aa-filter-btn-admin" style="background-color: #ff6666;border: 1px solid #ff6666;color: #fff;font-size: 15px;height: 30px;width: 80px;">검색</button>
                                    </form>
                                </div>
                                <table class="table">
                                    <thead style="text-align: center;">
                                    <tr>
                                        <th style="width: 5%;">번호</th>
                                        <th style="width: 5%;">회원 아이디</th>
                                        <th style="width: 5%;">회원 이름</th>
                                        <th style="width: 5%;">충전할 금액</th>
                                        <th style="width: 5%;">요청 날짜</th>
                                        <th style="width: 5%;">승인 상태</th>
                                        <th style="width: 5%;">삭제</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr style="text-align: center;display: none;">
                                        <td style="vertical-align: middle;">1</td>
                                        <td style="vertical-align: middle;">example</td>
                                        <td style="vertical-align: middle;">예시</td>
                                        <td style="vertical-align: middle;">99999</td>
                                        <td style="vertical-align: middle;">2023-02-20...</td>
                                        <td style="vertical-align: middle;text-align: center;">
                                            <form>
                                                <button type="submit">승인</button>
                                            </form></td>
                                        <td style="vertical-align: middle;text-align: center;"><a class="remove" href="#"><fa class="fa fa-close"></fa></a></td>
                                    </tr>
                                    <tr th:each="chargeList: ${chargeListAll}" style="text-align: center;">
                                        <td style="vertical-align: middle;" th:text="${chargeList.getId()}">번호</td>
                                        <td style="vertical-align: middle;" th:text="${chargeList.getMember().getUsername()}">회원 아이디</td>
                                        <td style="vertical-align: middle;" th:text="${chargeList.getMember().getName()}">회원 이름</td>
                                        <td style="vertical-align: middle;" th:text="${chargeList.getChargeAmount()}">충전할 금액</td>
                                        <td style="vertical-align: middle;" th:text="${chargeList.getCreateDate()}">요청 날짜</td>
                                        <td th:if="${chargeList.getChargeStatus()} == ${chargeList.getChargeStatus().COMPLETE}" style="vertical-align: middle;text-align: center;">승인 완료</td>
                                        <td style="vertical-align: middle;text-align: center;" th:if="${chargeList.getChargeStatus()} == ${chargeList.getChargeStatus().READY}">
                                            <form th:action="@{/dailyShop/admin/charge/{chargeListId}(chargeListId=${chargeList.getId()})}" th:method="POST">
                                                <input type="submit" value="승인">
                                            </form></td>
                                        <td style="vertical-align: middle;text-align: center;"><a class="remove" th:href="@{/dailyShop/admin/charge/delete/{id}(id=${chargeList.getId()})}"><fa class="fa fa-close"></fa></a></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>