<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<section id="menu" th:fragment="menu">
  <div class="container">
    <div class="menu-area">
      <!-- Navbar -->
      <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse">
          <!-- Left nav -->
          <ul class="nav navbar-nav">
            <li><a href="/dailyShop">Home</a></li>
            <li><a th:href="@{/dailyShop/product/category/list(category='MEN')}">Men <span class="caret"></span></a>
              <ul class="dropdown-menu" >
                <li><a th:href="@{/dailyShop/product/subCategory/list(category='MEN',subCategory='Casual')}">Casual</a></li>
                <li><a th:href="@{/dailyShop/product/subCategory/list(category='MEN',subCategory='Sports')}">Sports</a></li>
                <li><a th:href="@{/dailyShop/product/subCategory/list(category='MEN',subCategory='Formal')}">Formal</a></li>
                <li><a th:href="@{/dailyShop/product/subCategory/list(category='MEN',subCategory='Outer')}">Outer</a></li>
                <li><a th:href="@{/dailyShop/product/subCategory/list(category='MEN',subCategory='Shirts')}">Shirts</a></li>
                <li><a th:href="@{/dailyShop/product/subCategory/list(category='MEN',subCategory='Pants')}">Pants</a></li>
                <li><a th:href="@{/dailyShop/product/subCategory/list(category='MEN',subCategory='Shoes')}">Shoes</a></li>
                <li><a th:href="@{/dailyShop/product/subCategory/list(category='MEN',subCategory='ACC')}">Acc</a></li>
              </ul>
            </li>
            <li><a th:href="@{/dailyShop/product/category/list(category='WOMEN')}">Women <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a th:href="@{/dailyShop/product/subCategory/list(category='WOMEN',subCategory='Casual')}">Casual</a></li>
                <li><a th:href="@{/dailyShop/product/subCategory/list(category='WOMEN',subCategory='Sports')}">Sports</a></li>
                <li><a th:href="@{/dailyShop/product/subCategory/list(category='WOMEN',subCategory='Formal')}">Formal</a></li>
                <li><a th:href="@{/dailyShop/product/subCategory/list(category='WOMEN',subCategory='Outer')}">Outer</a></li>
                <li><a th:href="@{/dailyShop/product/subCategory/list(category='WOMEN',subCategory='Shirts')}">Shirts</a></li>
                <li><a th:href="@{/dailyShop/product/subCategory/list(category='WOMEN',subCategory='Pants')}">Pants</a></li>
                <li><a th:href="@{/dailyShop/product/subCategory/list(category='WOMEN',subCategory='Shoes')}">Shoes</a></li>
                <li><a th:href="@{/dailyShop/product/subCategory/list(category='WOMEN',subCategory='ACC')}">Acc</a></li>
              </ul>
            </li>
            <li><a th:href="@{/dailyShop/product/category/list(category='KIDS')}">Kids <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a th:href="@{/dailyShop/product/subCategory/list(category='KIDS',subCategory='Casual')}">Casual</a></li>
                <li><a th:href="@{/dailyShop/product/subCategory/list(category='KIDS',subCategory='Sports')}">Sports</a></li>
                <li><a th:href="@{/dailyShop/product/subCategory/list(category='KIDS',subCategory='Formal')}">Formal</a></li>
                <li><a th:href="@{/dailyShop/product/subCategory/list(category='KIDS',subCategory='Outer')}">Outer</a></li>
                <li><a th:href="@{/dailyShop/product/subCategory/list(category='KIDS',subCategory='Shirts')}">Shirts</a></li>
                <li><a th:href="@{/dailyShop/product/subCategory/list(category='KIDS',subCategory='Pants')}">Pants</a></li>
                <li><a th:href="@{/dailyShop/product/subCategory/list(category='KIDS',subCategory='Shoes')}">Shoes</a></li>
                <li><a th:href="@{/dailyShop/product/subCategory/list(category='KIDS',subCategory='ACC')}">Acc</a></li>
              </ul>
            </li>
            <li><a th:href="@{/dailyShop/product/category/list(category='SPORTS')}">Sports</a></li>
            <li><a th:href="@{/dailyShop/product/category/list(category='DIGITAL')}">Digital <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a th:href="@{/dailyShop/product/subCategory/list(category='DIGITAL',subCategory='Camera')}">Camera</a></li>
                <li><a th:href="@{/dailyShop/product/subCategory/list(category='DIGITAL',subCategory='Mobile')}">Mobile</a></li>
                <li><a th:href="@{/dailyShop/product/subCategory/list(category='DIGITAL',subCategory='Tablet')}">Tablet</a></li>
                <li><a th:href="@{/dailyShop/product/subCategory/list(category='DIGITAL',subCategory='Laptop')}">Laptop</a></li>
                <li><a th:href="@{/dailyShop/product/subCategory/list(category='DIGITAL',subCategory='ACC')}">Acc</a></li>
              </ul>
            </li>
            <li><a href="/dailyShop/contact">Contact</a></li>
            <li><a href="#">Pages <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/dailyShop/product">Shop Page</a></li>
                <li><a href="/dailyShop/product-detail">Shop Single</a></li>
                <li><a href="/dailyShop/error-404">404 Page</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>
</section>