<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<section id="menu" th:fragment="menu">
  <div class="container">
    <div class="menu-area">
      <!-- Navbar -->
      <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse">
          <!-- Left nav -->
          <ul class="nav navbar-nav">
            <li><a href="/dailyShop">Home</a></li>
            <li><a th:href="@{/dailyShop/product/category/list(category='MEN')}">Men <span class="caret"></span></a>
              <ul class="dropdown-menu" >
                <li><a href="#">Casual</a></li>
                <li><a href="#">Sports</a></li>
                <li><a href="#">Formal</a></li>
                <li><a href="#">Outer</a></li>
                <li><a href="#">Shirts</a></li>
                <li><a href="#">Pants</a></li>
                <li><a href="#">Shoes</a></li>
                <li><a href="#">Bag&Acc<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">BAG</a></li>
                    <li><a href="#">ACC</a></li>
                    <li><a href="#">Wallet</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li><a th:href="@{/dailyShop/product/category/list(category='WOMEN')}">Women <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Casual</a></li>
                <li><a href="#">Sports</a></li>
                <li><a href="#">Formal</a></li>
                <li><a href="#">Outer</a></li>
                <li><a href="#">Shirts</a></li>
                <li><a href="#">Pants</a></li>
                <li><a href="#">Shoes</a></li>
                <li><a href="#">Bag&Acc<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">BAG</a></li>
                    <li><a href="#">ACC</a></li>
                    <li><a href="#">Wallet</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li><a th:href="@{/dailyShop/product/category/list(category='KIDS')}">Kids <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Casual</a></li>
                <li><a href="#">Sports</a></li>
                <li><a href="#">Formal</a></li>
                <li><a href="#">Outer</a></li>
                <li><a href="#">Shirts</a></li>
                <li><a href="#">Pants</a></li>
                <li><a href="#">Shoes</a></li>
                <li><a href="#">Bag&Acc<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">BAG</a></li>
                    <li><a href="#">ACC</a></li>
                    <li><a href="#">Wallet</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li><a th:href="@{/dailyShop/product/category/list(category='SPORTS')}">Sports</a></li>
            <li><a th:href="@{/dailyShop/product/category/list(category='DIGITAL')}">Digital <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Camera</a></li>
                <li><a href="#">Mobile</a></li>
                <li><a href="#">Tablet</a></li>
                <li><a href="#">Laptop</a></li>
                <li><a href="#">Accesories</a></li>
              </ul>
            </li>
            <li><a th:href="@{/dailyShop/product/category/list(category='FURNITURE')}">Furniture</a></li>
            <li><a href="/dailyShop/contact">Contact</a></li>
            <li><a href="#">Pages <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/dailyShop/product">Shop Page</a></li>
                <li><a href="/dailyShop/product-detail">Shop Single</a></li>
                <li><a href="/dailyShop/error-404">404 Page</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>
</section>