<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="dailyshop/fragments/header :: header">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Daily Shop | Account Page</title>
</head>
<body>

<!-- wpf loader Two -->
<div id="wpf-loader-two">
    <div class="wpf-loader-two-inner">
        <span>Loading</span>
    </div>
</div>
<!-- / wpf loader Two -->
<!-- SCROLL TOP BUTTON -->
<a class="scrollToTop" href="#"><i class="fa fa-chevron-up"></i></a>
<!-- END SCROLL TOP BUTTON -->


<!-- Start header section -->
<header th:replace="dailyshop/fragments/headerSection :: headerSection" />
<!-- / header section -->

<!-- menu -->
<section th:replace="dailyshop/fragments/menu :: menu" />
<!-- / menu -->

<!-- catg header banner section -->
<section id="aa-catg-head-banner">
    <img src="/dailyShop/img/fashion/fashion-header-bg-8.jpg" alt="fashion img">
    <div class="aa-catg-head-banner-area">
        <div class="container">
            <div class="aa-catg-head-banner-content">
                <h2>상품 리스트</h2>
                <ol class="breadcrumb">
                    <li><a href="/dailyShop">Home</a></li>
                    <li class="active">Product List</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<!-- / catg header banner section -->

<!-- Cart view section -->
<section id="cart-view">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="cart-view-area">
                    <div class="cart-view-table aa-wishlist-table">
                        <form action="">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>번호</th>
                                        <th>상품 이미지</th>
                                        <th>상품명</th>
                                        <th>카테고리</th>
                                        <th>가격</th>
                                        <th>재고 수량</th>
                                        <th>삭제</th>
                                        <th>수정</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="product : ${list}">
                                        <td th:text="${product.id}">번호</td>
                                        <td><a href="#"><img th:src="${product.filePath}" alt="img"></a></td>
                                        <td><a class="aa-cart-title" href="#" th:text="${product.name}">상품명</a></td>
                                        <td th:text="${product.category}">카테고리</td>
                                        <td th:text="|${product.price}원|">가격</td>
                                        <td th:text="${product.stockQuantity}">재고 수량</td>
                                        <td><a class="remove" th:href="@{/dailyShop/product/delete(id=${product.id})}"><fa class="fa fa-close"></fa></a></td>
                                        <td><a th:href="@{/dailyShop/product/modify/{productId}(productId=${product.id})}"><fa class="fa fa-edit"></fa></a></td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="aa-product-catg-pagination" th:if="${!list.isEmpty()}">
                                    <nav style="text-align: center;" th:with="pageNumber = ${list.pageable.pageNumber},
                                        pageSize = ${list.pageable.pageSize},
                                        totalPages=${list.totalPages},
                                        startPage = ${T(java.lang.Math).floor(pageNumber / pageSize) * pageSize + 1},
                                        tempEndPage = ${startPage + pageSize - 1},
                                        endPage = (${tempEndPage < totalPages ? tempEndPage : totalPages})"
                                         aria-label="Page navigation">
                                        <ul class="pagination">
                                            <!-- 첫 페이지로 이동 -->
                                            <li th:classappend="${pageNumber < pageSize} ? 'disabled'" class="page-item">
                                                <a class="page-link" th:href="@{/dailyShop/product/list(page=0)}" aria-label="Previous">
                                                    <span aria-hidden="true">&laquo;</span>
                                                    <span class="sr-only">First</span>
                                                </a>
                                            </li>
                                            <!-- 이전 페이지로 이동 -->
                                            <li th:classappend="${list.first} ? 'disabled'" class="page-item">
                                                <a class="page-link"
                                                   th:href="${list.first} ? '#' : @{/dailyShop/product/list(page=${pageNumber - 1})}"
                                                   aria-label="Previous">
                                                    <span aria-hidden="true">&lt;</span>
                                                    <span class="sr-only">Previous</span>
                                                </a>
                                            </li>
                                            <!-- 특정 페이지로 이동 -->
                                            <li th:each="page : ${#numbers.sequence(startPage,endPage)}"
                                                th:classappend="${page == pageNumber + 1} ? 'active'"
                                                class="page-item">
                                                <a th:text="${page}" class="page-link" th:href="@{/dailyShop/product/list(page=${page - 1})}"></a>
                                            </li>
                                            <!-- 다음 페이지로 이동 -->
                                            <li th:classappend="${list.last} ? 'disabled'" class="page-item" >
                                                <a class="page-link" th:href="${list.last} ? '#' : @{/dailyShop/product/list(page=${pageNumber + 1})}" aria-label="Next">
                                                    <span aria-hidden="true">&gt;</span>
                                                    <span class="sr-only">Next</span>
                                                </a>
                                            </li>
                                            <!-- 마지막 페이지로 이동 -->
                                            <li th:classappend=" ${T(java.lang.Math).floor(totalPages / pageSize) * pageSize - 1 <= startPage} ? 'disabled'" class="page-item">
                                                <a class="page-link" th:href="@{/dailyShop/product/list(page=${totalPages - 1})}">
                                                    <span>&raquo;</span>
                                                    <span class="sr-only">Last</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / Cart view section -->

<!-- footer -->
<footer th:replace="dailyshop/fragments/footer :: footer"/>
<!--  / footer -->

<!-- login Modal -->
<div th:replace="dailyshop/fragments/loginModal :: loginModal"/>
<!--/ login Modal -->

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/dailyShop/js/bootstrap.js"></script>
<!-- SmartMenus jQuery plugin -->
<script type="text/javascript" src="/dailyShop/js/jquery.smartmenus.js"></script>
<!-- SmartMenus jQuery Bootstrap Addon -->
<script type="text/javascript" src="/dailyShop/js/jquery.smartmenus.bootstrap.js"></script>
<!-- To Slider JS -->
<script src="/dailyShop/js/sequence.js"></script>
<script src="/dailyShop/js/sequence-theme.modern-slide-in.js"></script>
<!-- Product view slider -->
<script type="text/javascript" src="/dailyShop/js/jquery.simpleGallery.js"></script>
<script type="text/javascript" src="/dailyShop/js/jquery.simpleLens.js"></script>
<!-- slick slider -->
<script type="text/javascript" src="/dailyShop/js/slick.js"></script>
<!-- Price picker slider -->
<script type="text/javascript" src="/dailyShop/js/nouislider.js"></script>
<!-- Custom js -->
<script src="/dailyShop/js/custom.js"></script>


</body>
</html>