<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="dailyshop/fragments/header :: header">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Daily Shop | Account Page</title>
</head>
<body>

<!-- wpf loader Two -->
<div id="wpf-loader-two">
  <div class="wpf-loader-two-inner">
    <span>Loading</span>
  </div>
</div>
<!-- / wpf loader Two -->
<!-- SCROLL TOP BUTTON -->
<a class="scrollToTop" href="#"><i class="fa fa-chevron-up"></i></a>
<!-- END SCROLL TOP BUTTON -->


<!-- Start header section -->
<header th:replace="dailyshop/fragments/headerSection :: headerSection" />
<!-- / header section -->

<!-- menu -->
<section th:replace="dailyshop/fragments/menu :: menu" />
<!-- / menu -->

<!-- catg header banner section -->
<section id="aa-catg-head-banner">
  <img src="/dailyShop/img/fashion/fashion-header-bg-8.jpg" alt="fashion img">
  <div class="aa-catg-head-banner-area">
    <div class="container">
      <div class="aa-catg-head-banner-content">
        <h2>Account Page</h2>
        <ol class="breadcrumb">
          <li><a href="/dailyShop">Home</a></li>
          <li class="active">Account</li>
        </ol>
      </div>
    </div>
  </div>
</section>
<!-- / catg header banner section -->

<!-- Products section -->
<section id="aa-product">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="aa-product-area">
            <div class="aa-product-inner">
              <!-- start prduct navigation -->
              <ul class="nav nav-tabs aa-products-tab">
                <li class="active"><a href="#men" data-toggle="tab">Men</a></li>
                <li><a href="#women" data-toggle="tab">Women</a></li>
                <li><a href="#sports" data-toggle="tab">Sports</a></li>
                <li><a href="#electronics" data-toggle="tab">Electronics</a></li>
              </ul>
              <!-- Tab panes -->
              <div class="tab-content">
                <!-- Start men product category -->
                <div class="tab-pane fade in active" id="men">
                  <ul class="aa-product-catg">
                    <!-- start single product item -->
                    <li th:each="product : ${products}" th:if="${product.category == 'MEN'}">
                      <figure>
                        <a class="aa-product-img" href="#"><img th:src="${product.filePath}" alt="polo shirt img"></a>
                        <a class="aa-add-card-btn" href="#"><span class="fa fa-shopping-cart"></span>Add To Cart</a>
                        <figcaption>
                          <h4 class="aa-product-title"><a href="#" th:text="${product.name}">Polo T-Shirt</a></h4>
                          <span class="aa-product-price" th:text="${product.price}">$45.50</span><span class="aa-product-price"><del>$65.50</del></span>
                        </figcaption>
                      </figure>
                      <div class="aa-product-hvr-content">
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>
                        <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
                      </div>
                      <!-- product badge -->
                      <span class="aa-badge aa-sale" href="#">SALE!</span>
                    </li>
                  </ul>
                  <a class="aa-browse-btn" href="#">Browse all Product <span class="fa fa-long-arrow-right"></span></a>
                </div>
                <!-- start women product category -->
                <div class="tab-pane fade" id="women">
                  <ul class="aa-product-catg">
                    <!-- start single product item -->
                    <li th:each="product : ${products}" th:if="${product.category == 'WOMEN'}">
                      <figure>
                        <a class="aa-product-img" href="#"><img th:src="${product.filePath}" alt="polo shirt img"></a>
                        <a class="aa-add-card-btn" href="#"><span class="fa fa-shopping-cart"></span>Add To Cart</a>
                        <figcaption>
                          <h4 class="aa-product-title"><a href="#" th:text="${product.name}">This is Title</a></h4>
                          <span class="aa-product-price" th:text="${product.price}">$45.50</span><span class="aa-product-price"><del>$65.50</del></span>
                        </figcaption>
                      </figure>
                      <div class="aa-product-hvr-content">
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>
                        <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
                      </div>
                      <!-- product badge -->
                      <span class="aa-badge aa-sale" href="#">SALE!</span>
                    </li>
                  </ul>
                  <a class="aa-browse-btn" href="#">Browse all Product <span class="fa fa-long-arrow-right"></span></a>
                </div>
                <!-- / women product category -->
                <!-- start sports product category -->
                <div class="tab-pane fade" id="sports">
                  <ul class="aa-product-catg">
                    <!-- start single product item -->
                    <li th:each="product : ${products}" th:if="${product.category == 'SPORTS'}">
                      <figure>
                        <a class="aa-product-img" href="#"><img th:src="${product.filePath}" alt="polo shirt img"></a>
                        <a class="aa-add-card-btn" href="#"><span class="fa fa-shopping-cart"></span>Add To Cart</a>
                        <figcaption>
                          <h4 class="aa-product-title"><a href="#" th:text="${product.name}">This is Title</a></h4>
                          <span class="aa-product-price" th:text="${product.price}">$45.50</span><span class="aa-product-price"><del>$65.50</del></span>
                        </figcaption>
                      </figure>
                      <div class="aa-product-hvr-content">
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>
                        <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
                      </div>
                      <!-- product badge -->
                      <span class="aa-badge aa-sale" href="#">SALE!</span>
                    </li>
                  </ul>
                  <a class="aa-browse-btn" href="#">Browse all Product <span class="fa fa-long-arrow-right"></span></a>
                </div>
                <!-- / sports product category -->
                <!-- start electronics product category -->
                <div class="tab-pane fade" id="electronics">
                  <ul class="aa-product-catg">
                    <!-- start single product item -->
                    <li th:each="product : ${products}" th:if="${product.category == 'ELECTRONICS'}">
                      <figure>
                        <a class="aa-product-img" href="#"><img th:src="${product.filePath}" alt="polo shirt img"></a>
                        <a class="aa-add-card-btn" href="#"><span class="fa fa-shopping-cart"></span>Add To Cart</a>
                        <figcaption>
                          <h4 class="aa-product-title"><a href="#" th:text="${product.name}">This is Title</a></h4>
                          <span class="aa-product-price" th:text="${product.price}">$45.50</span><span class="aa-product-price"><del>$65.50</del></span>
                        </figcaption>
                      </figure>
                      <div class="aa-product-hvr-content">
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>
                        <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
                      </div>
                      <!-- product badge -->
                      <span class="aa-badge aa-sale" href="#">SALE!</span>
                    </li>
                  </ul>
                  <a class="aa-browse-btn" href="#">Browse all Product <span class="fa fa-long-arrow-right"></span></a>
                </div>
                <!-- / electronics product category -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

                <!-- footer -->
<footer th:replace="dailyshop/fragments/footer :: footer"/>
<!--  / footer -->

<!-- login Modal -->
<div th:replace="dailyshop/fragments/loginModal :: loginModal"/>
<!--/ login Modal -->

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/dailyShop/js/bootstrap.js"></script>
<!-- SmartMenus jQuery plugin -->
<script type="text/javascript" src="/dailyShop/js/jquery.smartmenus.js"></script>
<!-- SmartMenus jQuery Bootstrap Addon -->
<script type="text/javascript" src="/dailyShop/js/jquery.smartmenus.bootstrap.js"></script>
<!-- To Slider JS -->
<script src="/dailyShop/js/sequence.js"></script>
<script src="/dailyShop/js/sequence-theme.modern-slide-in.js"></script>
<!-- Product view slider -->
<script type="text/javascript" src="/dailyShop/js/jquery.simpleGallery.js"></script>
<script type="text/javascript" src="/dailyShop/js/jquery.simpleLens.js"></script>
<!-- slick slider -->
<script type="text/javascript" src="/dailyShop/js/slick.js"></script>
<!-- Price picker slider -->
<script type="text/javascript" src="/dailyShop/js/nouislider.js"></script>
<!-- Custom js -->
<script src="/dailyShop/js/custom.js"></script>
</body>
</html>