<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="dailyshop/fragments/header :: header">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Daily Shop | Account Page</title>
</head>
<body>

<!-- wpf loader Two -->
<div id="wpf-loader-two">
  <div class="wpf-loader-two-inner">
    <span>Loading</span>
  </div>
</div>
<!-- / wpf loader Two -->
<!-- SCROLL TOP BUTTON -->
<a class="scrollToTop" href="#"><i class="fa fa-chevron-up"></i></a>
<!-- END SCROLL TOP BUTTON -->


<!-- Start header section -->
<header th:replace="dailyshop/fragments/headerSection :: headerSection" />
<!-- / header section -->

<!-- menu -->
<section th:replace="dailyshop/fragments/menu :: menu" />
<!-- / menu -->

<!-- catg header banner section -->
<section id="aa-catg-head-banner">
  <img src="/dailyShop/img/fashion/fashion-header-bg-8.jpg" alt="fashion img">
  <div class="aa-catg-head-banner-area">
    <div class="container">
      <div class="aa-catg-head-banner-content">
        <h2>Account Page</h2>
        <ol class="breadcrumb">
          <li><a href="/dailyShop">Home</a></li>
          <li class="active">Account</li>
        </ol>
      </div>
    </div>
  </div>
</section>
<!-- / catg header banner section -->

<!-- Products section -->
<section id="aa-product">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="aa-product-area">
            <div class="aa-product-inner">
              <!-- start prduct navigation -->
              <ul class="nav nav-tabs aa-products-tab">
                <li class="active"><a href="#men" data-toggle="tab">Men</a></li>
                <li><a href="#women" data-toggle="tab">Women</a></li>
                <li><a href="#sports" data-toggle="tab">Sports</a></li>
                <li><a href="#electronics" data-toggle="tab">Electronics</a></li>
              </ul>
              <!-- Tab panes -->
              <div class="tab-content">
                <!-- Start men product category -->
                <div class="tab-pane fade in active" id="men">
                  <ul class="aa-product-catg">
                    <!-- start single product item -->
                    <li th:each="product : ${products}" th:if="${product.category == 'MEN'}">
                      <figure>
                        <a class="aa-product-img" href="#"><img th:src="${product.filePath}" alt="polo shirt img"></a>
                        <a class="aa-add-card-btn" href="#"><span class="fa fa-shopping-cart"></span>Add To Cart</a>
                        <figcaption>
                          <h4 class="aa-product-title"><a href="#" th:text="${product.name}">Polo T-Shirt</a></h4>
                          <span class="aa-product-price" th:text="${product.price}">$45.50</span><span class="aa-product-price"><del>$65.50</del></span>
                        </figcaption>
                      </figure>
                      <div class="aa-product-hvr-content">
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>
                        <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
                      </div>
                      <!-- product badge -->
                      <span class="aa-badge aa-sale" href="#">SALE!</span>
                    </li>
                  </ul>
                  <a class="aa-browse-btn" href="#">Browse all Product <span class="fa fa-long-arrow-right"></span></a>
                </div>
                <!-- start women product category -->
                <div class="tab-pane fade" id="women">
                  <ul class="aa-product-catg">
                    <!-- start single product item -->
                    <li th:each="product : ${products}" th:if="${product.category == 'WOMEN'}">
                      <figure>
                        <a class="aa-product-img" href="#"><img th:src="${product.filePath}" alt="polo shirt img"></a>
                        <a class="aa-add-card-btn" href="#"><span class="fa fa-shopping-cart"></span>Add To Cart</a>
                        <figcaption>
                          <h4 class="aa-product-title"><a href="#" th:text="${product.name}">This is Title</a></h4>
                          <span class="aa-product-price" th:text="${product.price}">$45.50</span><span class="aa-product-price"><del>$65.50</del></span>
                        </figcaption>
                      </figure>
                      <div class="aa-product-hvr-content">
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>
                        <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
                      </div>
                      <!-- product badge -->
                      <span class="aa-badge aa-sale" href="#">SALE!</span>
                    </li>
                  </ul>
                  <a class="aa-browse-btn" href="#">Browse all Product <span class="fa fa-long-arrow-right"></span></a>
                </div>
                <!-- / women product category -->
                <!-- start sports product category -->
                <div class="tab-pane fade" id="sports">
                  <ul class="aa-product-catg">
                    <!-- start single product item -->
                    <li th:each="product : ${products}" th:if="${product.category == 'SPORTS'}">
                      <figure>
                        <a class="aa-product-img" href="#"><img th:src="${product.filePath}" alt="polo shirt img"></a>
                        <a class="aa-add-card-btn" href="#"><span class="fa fa-shopping-cart"></span>Add To Cart</a>
                        <figcaption>
                          <h4 class="aa-product-title"><a href="#" th:text="${product.name}">This is Title</a></h4>
                          <span class="aa-product-price" th:text="${product.price}">$45.50</span><span class="aa-product-price"><del>$65.50</del></span>
                        </figcaption>
                      </figure>
                      <div class="aa-product-hvr-content">
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>
                        <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
                      </div>
                      <!-- product badge -->
                      <span class="aa-badge aa-sale" href="#">SALE!</span>
                    </li>
                  </ul>
                  <a class="aa-browse-btn" href="#">Browse all Product <span class="fa fa-long-arrow-right"></span></a>
                </div>
                <!-- / sports product category -->
                <!-- start electronics product category -->
                <div class="tab-pane fade" id="electronics">
                  <ul class="aa-product-catg">
                    <!-- start single product item -->
                    <li th:each="product : ${products}" th:if="${product.category == 'ELECTRONICS'}">
                      <figure>
                        <a class="aa-product-img" href="#"><img th:src="${product.filePath}" alt="polo shirt img"></a>
                        <a class="aa-add-card-btn" href="#"><span class="fa fa-shopping-cart"></span>Add To Cart</a>
                        <figcaption>
                          <h4 class="aa-product-title"><a href="#" th:text="${product.name}">This is Title</a></h4>
                          <span class="aa-product-price" th:text="${product.price}">$45.50</span><span class="aa-product-price"><del>$65.50</del></span>
                        </figcaption>
                      </figure>
                      <div class="aa-product-hvr-content">
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>
                        <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
                      </div>
                      <!-- product badge -->
                      <span class="aa-badge aa-sale" href="#">SALE!</span>
                    </li>

                  </ul>
                  <a class="aa-browse-btn" href="#">Browse all Product <span class="fa fa-long-arrow-right"></span></a>
                </div>
                <div class="aa-product-catg-pagination">
                  <nav>
                    <ul class="pagination">
                      <li>
                        <a href="#" aria-label="Previous">
                          <span aria-hidden="true">&laquo;</span>
                        </a>
                      </li>
                      <li><a href="#">1</a></li>
                      <li><a href="#">2</a></li>
                      <li><a href="#">3</a></li>
                      <li><a href="#">4</a></li>
                      <li><a href="#">5</a></li>
                      <li>
                        <a href="#" aria-label="Next">
                          <span aria-hidden="true">&raquo;</span>
                        </a>
                      </li>
                    </ul>
                  </nav>
                </div>
                <!-- / electronics product category -->
              </div>

              <!-- quick view modal -->
              <div class="modal fade" id="quick-view-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-body">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <div class="row">
                        <!-- Modal view slider -->
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <div class="aa-product-view-slider">
                            <div class="simpleLens-gallery-container" id="demo-1">
                              <div class="simpleLens-container">
                                <div class="simpleLens-big-image-container">
                                  <a class="simpleLens-lens-image" data-lens-image="img/view-slider/large/polo-shirt-1.png">
                                    <img src="/dailyShop/img/view-slider/medium/polo-shirt-1.png" class="simpleLens-big-image" alt="">
                                  </a>
                                </div>
                              </div>
                              <div class="simpleLens-thumbnails-container">
                                <a href="#" class="simpleLens-thumbnail-wrapper"
                                   data-lens-image="img/view-slider/large/polo-shirt-1.png"
                                   data-big-image="img/view-slider/medium/polo-shirt-1.png">
                                  <img src="/dailyShop/img/view-slider/thumbnail/polo-shirt-1.png" alt="">
                                </a>
                                <a href="#" class="simpleLens-thumbnail-wrapper"
                                   data-lens-image="img/view-slider/large/polo-shirt-3.png"
                                   data-big-image="img/view-slider/medium/polo-shirt-3.png">
                                  <img src="/dailyShop/img/view-slider/thumbnail/polo-shirt-3.png" alt="">
                                </a>

                                <a href="#" class="simpleLens-thumbnail-wrapper"
                                   data-lens-image="img/view-slider/large/polo-shirt-4.png"
                                   data-big-image="img/view-slider/medium/polo-shirt-4.png">
                                  <img src="/dailyShop/img/view-slider/thumbnail/polo-shirt-4.png" alt="">
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- Modal view content -->
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <div class="aa-product-view-content">
                            <h3>T-Shirt</h3>
                            <div class="aa-price-block">
                              <span class="aa-product-view-price">$34.99</span>
                              <p class="aa-product-avilability">Avilability: <span>In stock</span></p>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis animi, veritatis quae repudiandae quod nulla porro quidem, itaque quis quaerat!</p>
                            <h4>Size</h4>
                            <div class="aa-prod-view-size">
                              <a href="#">S</a>
                              <a href="#">M</a>
                              <a href="#">L</a>
                              <a href="#">XL</a>
                            </div>
                            <div class="aa-prod-quantity">
                              <form action="">
                                <select name="" id="">
                                  <option value="0" selected="1">1</option>
                                  <option value="1">2</option>
                                  <option value="2">3</option>
                                  <option value="3">4</option>
                                  <option value="4">5</option>
                                  <option value="5">6</option>
                                </select>
                              </form>
                              <p class="aa-prod-category">
                                Category: <a href="#">Polo T-Shirt</a>
                              </p>
                            </div>
                            <div class="aa-prod-view-bottom">
                              <a href="#" class="aa-add-to-cart-btn"><span class="fa fa-shopping-cart"></span>Add To Cart</a>
                              <a href="#" class="aa-add-to-cart-btn">View Details</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
              </div><!-- / quick view modal -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- / Products section -->

                <!-- footer -->
<footer th:replace="dailyshop/fragments/footer :: footer"/>
<!--  / footer -->

<!-- login Modal -->
<div th:replace="dailyshop/fragments/loginModal :: loginModal"/>
<!--/ login Modal -->

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/dailyShop/js/bootstrap.js"></script>
<!-- SmartMenus jQuery plugin -->
<script type="text/javascript" src="/dailyShop/js/jquery.smartmenus.js"></script>
<!-- SmartMenus jQuery Bootstrap Addon -->
<script type="text/javascript" src="/dailyShop/js/jquery.smartmenus.bootstrap.js"></script>
<!-- To Slider JS -->
<script src="/dailyShop/js/sequence.js"></script>
<script src="/dailyShop/js/sequence-theme.modern-slide-in.js"></script>
<!-- Product view slider -->
<script type="text/javascript" src="/dailyShop/js/jquery.simpleGallery.js"></script>
<script type="text/javascript" src="/dailyShop/js/jquery.simpleLens.js"></script>
<!-- slick slider -->
<script type="text/javascript" src="/dailyShop/js/slick.js"></script>
<!-- Price picker slider -->
<script type="text/javascript" src="/dailyShop/js/nouislider.js"></script>
<!-- Custom js -->
<script src="/dailyShop/js/custom.js"></script>
</body>
</html>