<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="dailyshop/fragments/header :: header">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Daily Shop | Account Page</title>
  <style>
    td, th {
      text-align: center;
      padding: 0;
    }
  </style>
</head>
<body>

<!-- wpf loader Two -->
<div id="wpf-loader-two">
  <div class="wpf-loader-two-inner">
    <span>Loading</span>
  </div>
</div>
<!-- / wpf loader Two -->
<!-- SCROLL TOP BUTTON -->
<a class="scrollToTop" href="#"><i class="fa fa-chevron-up"></i></a>
<!-- END SCROLL TOP BUTTON -->


<!-- Start header section -->
<header th:replace="~{dailyshop/fragments/headerSection :: headerSection (member = ${member},totalPrice=${cartTotalPrice},totalCount=${totalCount},cartItems=${cartItems},cartListCount=${cartListCount})}"/>
<!-- / header section -->

<!-- menu -->
<section th:replace="dailyshop/fragments/menu :: menu" />
<!-- / menu -->

<!-- catg header banner section -->
<section id="aa-catg-head-banner">
  <img src="/dailyShop/img/fashion/fashion-header-bg-8.jpg" alt="fashion img">
  <div class="aa-catg-head-banner-area">
    <div class="container">
      <div class="aa-catg-head-banner-content">
        <h2>고객센터</h2>
        <ol class="breadcrumb">
          <li><a href="/dailyShop">Home</a></li>
          <li class="active">QnA</li>
        </ol>
      </div>
    </div>
  </div>
</section>
<!-- / catg header banner section -->


<!-- mypage -->
<section id="aa-product-category">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 col-md-9 col-sm-8 col-md-push-3">
        <div class="aa-product-catg-content">
                  <div id="posts_list">
                    <div class="col-md-12">
                    <form class="card">
                    <div class="card-header d-flex justify-content-between"style="display: flex;justify-content: space-between;">
                    <label th:for="id" th:text="|번호 : ${post.getId()}|">번호</label>
                    <label th:for="createdDate" th:text="|작성날짜 : ${post.getCreatedDate()}|">작성날짜</label>
                    </div>
                    <div class="card-header d-flex justify-content-between" style="display: flex;justify-content: space-between;">
                    <label th:for="writer" th:text="|작성자 : ${post.getWriter()}|">작성자</label>
                    <label th:for="view" th:text="|조회수 : ${post.getView()}|"><i class=" bi bi-eye-fill"></i></label>
                    </div>
                    <div class="card-body">
                    <label for="title">제목</label>
                    <input type="text" class="form-control" id="title" th:value="${post.getTitle()}" readonly>
                    <br/>
                    <label for="content">내용</label>
                    <textarea rows="5" class="form-control" id="content" readonly th:text="${post.getContent()}"></textarea>
                    </div>
                    </form>
                    </div>
                  </div>
          <div class="card">
            <div class="card-header bi bi-chat-dots" th:if="${post.getComments().size() >= 1}"><i class="fa fa-comments"></i>Comments</div>
            <ul class="list-group-flush">
            <li class="list-group-item" th:each="comment:${comments}" th:if="${post.getComments().size() >= 1}">
            <span>
            <span style="font-size: small" th:text="${comment.getMember().getUsername()}">{{nickname}}</span>
            <span style="font-size: xx-small" th:text="${comment.getCreatedDate()}">{{createdDate}}</span>&nbsp;
            <button class="badge bi bi-trash" th:onclick="|location.href='@{/dailyShop/mypage/comment/delete/{postId}/{commentId}(commentId=${comment.getId()},postId=${comment.getPosts().getId()})}'|"> 삭제</button>
            </span><br>
            <span th:text="${comment.getComment()}">댓글 내용</span>
            </li>
            <div><br/>
              <div class="card">
                <div class="card-header bi bi-chat-right-dots"><i class="fa fa-comment">Write a Comment</i></div>
                <form th:action="@{/dailyShop/mypage/posts/view/{postId}/comment (postId = ${post.id})}" method="post">
                <input type="hidden" id="postsId" value="{{posts.id}}">
                <div class="card-body" sec:authorize="isAuthenticated()">
                <textarea id="comment" name="comment" class="form-control" rows="4" placeholder="댓글을 입력하세요"></textarea>
                </div>
                <div class="card-footer" sec:authorize="isAuthenticated()">
                <button type="submit" id="btn-comment-save"class="btn btn-outline-primary bi bi-pencil-square"> 등록</button>
                </div>
                <div sec:authorize="isAnonymous()" class="card-body" style="font-size: small"><a href="/auth/login">로그인</a>을 하시면 댓글을 등록할 수 있습니다.</div>
                </form>
              </div></div>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-4 col-md-pull-9">
        <aside class="aa-sidebar">
          <!-- single sidebar -->
          <div class="aa-sidebar-widget">
            <h3>마이페이지</h3>
            <ul class="nav flex-md-column">
              <li th:class="nav-item"><a class="nav-link active" th:href="@{/dailyShop/mypage/{id}(id=${member.getId()})}">마이페이지</a></li>
              <li th:class="nav-item"><a th:class="nav-link" th:href="@{/dailyShop/mypage/cart/{id}(id=${member.getId()})}">장바구니</a></li>
              <li th:class="nav-item"><a th:class="nav-link" th:href="@{/dailyShop/mypage/orderHistory/{id}(id=${member.getId()})}">주문내역</a></li>
              <li th:class="nav-item"><a th:class="nav-link" th:href="@{/dailyShop/mypage/charge/{id}(id=${member.getId()})}">충전하기</a></li>
              <li th:class="nav-item"><a th:class="nav-link" th:href="@{/dailyShop/mypage/charge/list}">충전 내역 조회</a></li>
            </ul>
          </div>
        </aside>
      </div>
    </div>
  </div>
</section>
<!-- /mypage -->
<!-- footer -->
<footer th:replace="dailyshop/fragments/footer :: footer"/>
<!--  / footer -->

<!-- login Modal -->
<div th:replace="dailyshop/fragments/loginModal :: loginModal"/>
<!--/ login Modal -->

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/dailyShop/js/bootstrap.js"></script>
<!-- SmartMenus jQuery plugin -->
<script type="text/javascript" src="/dailyShop/js/jquery.smartmenus.js"></script>
<!-- SmartMenus jQuery Bootstrap Addon -->
<script type="text/javascript" src="/dailyShop/js/jquery.smartmenus.bootstrap.js"></script>
<!-- To Slider JS -->
<script src="/dailyShop/js/sequence.js"></script>
<script src="/dailyShop/js/sequence-theme.modern-slide-in.js"></script>
<!-- Product view slider -->
<script type="text/javascript" src="/dailyShop/js/jquery.simpleGallery.js"></script>
<script type="text/javascript" src="/dailyShop/js/jquery.simpleLens.js"></script>
<!-- slick slider -->
<script type="text/javascript" src="/dailyShop/js/slick.js"></script>
<!-- Price picker slider -->
<script type="text/javascript" src="/dailyShop/js/nouislider.js"></script>
<!-- Custom js -->
<script src="/dailyShop/js/custom.js"></script>


</body>
</html>